/***************GLOBAL*****************/
.test {
  border: red solid 2px;
  /*margin-top: 3rem;
  margin-bottom: 3rem;*/

  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test .shadowT {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.WH {
  width: 100%;
  height: 90vh;
}

.centerX {
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerY {
  width: 100%;
  display: flex;
  align-items: center;
}

.centerXYROW {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerXYColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.justifyText {
  text-align: left;
}

.warningBorder {
  border: 2px dashed #f44336;
  border-radius: 10px;
}

/****************HEADER**************/
.header {
  background-color: #880e4f;
}

.whiteLink {
  color: white;
}

.whiteLink:hover {
  color: white;
  opacity: 0.8;
}

/******** HOME BUTTON DIMENSIONS ***********/
.buttonHome {
  width: 14rem;
  height: 4rem;
  background-color: #ad1457 !important;
}

/**************TABLE************************/
.tableBorder {
  display: flex;
}

/****************TABLE LEGEND**************/
.legendContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.legendItemsContainer {
  width: 100%;
  margin: 5px;
}

.allLegendItems {
  border-radius: 40px;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  width: 100%;
  height: 100%;
}

.legendHR {
  background-color: #880e4f;
  width: 85%;
}

.legend1 {
  border-color: #b71c1c;
}

.legend2 {
  border-color: #4a148c;
}

.legend3 {
  border-color: #9e9d24;
}

.legend4 {
  border-color: #ef6c00;
}

.legend5 {
  border-color: #d84315;
}

/***************DATAFORM***********************/
.dataForm {
  box-shadow: 0px 0px 5px 5px rgba(173, 20, 87, 0.1);
  border-radius: 5px;
}

.flag {
  background-image: url(../assets/images/flags.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 60vh;
}

.bringToFront {
  z-index: 9;
}

/*
ADMIN COMPONENT*/
.slider {
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.slider.closed {
  height: 0px;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.btnAdminFix {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 80vh;
}

.btnBorder {
  border: solid red 1px;
}

/*********SIDE NAV********************/
.slideMe {
  position: relative;
  animation: mymove 1s;
  animation-iteration-count: 5;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 15px;
  }
}

.sideMenu {
  background-color: #880e4f;
  opacity: 100%;
}

/*
Database:

-Fecha De Nacimiento
-Nombre
-Apellido
-Tipo De Visa
-Email
-Caso Cerrado
-Expedite
-Entrevista
-Count (true/False)


Nombre Y Apellidos
Visa Type
Expedited
DOB
CC
ENT
email*/
